
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by M.A.Damith Udaya Kumara ,  E-Mail : madamith1994@gmail.com , Contact : 0715990317</p>
    <p></p>
    <p></p>
  </div>
</div>
</body>
</html>
